<a href="https://colab.research.google.com/github/ChiranthKumarSwamy/Sql-practice/blob/main/Python/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = int(input("Enter the value for n"))
if (n%2==0):
  print("Even")
else :
  print("odd")

Enter the value for n1
odd